<td>
    <div class="table__col1">
        <div class="table__subcol-big table__subcol1">
            <span>@@num</span>
            <div class="table__check check">
                <input type='checkbox' />
                <label></label>
            </div>
        </div>
        <div class="table__subcol-big table__subcol2">
            <div class="table__input">
                <input type="text" value="001">
            </div>
        </div>
        <div class="table__subcol-big">
            <div class="table__input">
                <input type="text" value="1">
            </div>
        </div>
        <div class="table__subcol-big">
            <div class="table__input">
                <input type="text" value="BrandNo">
            </div>
        </div>
        <div class="table__subcol-big">
            <div class="table__input">
                <input type="text" value="4">
            </div>
        </div>
        <div class="table__subcol-big">
            <div class="table__input">
                <input type="text" value="4">
            </div>
        </div>
        <div class="table__subcol-big">
            <div class="table__input">
                <input type="text" value="4">
            </div>
        </div>
        <div class="table__subcol-big">
            <img src="img/info.svg" alt="">
        </div>
    </div>
</td>