<td>
    <div class="table__col1">
        <div class="table__subcol-big table__subcol1">
            <span>@@num</span>
            <div class="table__check check">
                <input type='checkbox' />
                <label></label>
            </div>
        </div>
        <div class="table__subcol-big table__subcol2">
            <div class="table__input">
                <input type="text" value="PN009W">
            </div>
        </div>
        <div class="table__subcol-big">
            <div class="table__input">
                <input type="text" value="Supplementary Article/Supplementary">
            </div>
        </div>
    </div>
</td>