@import "_header";
@import "_footer";
.page {
    font-family: $font1;
    font-weight: 400;
    color: $black;
    background: #FAFBFF;
    max-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    &.fixed-body {
        overflow-y: hidden;
    }
}

.wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    min-width: 1920px;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 35px;
}

.container {
    // width: 1920px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 35px;
    @media screen and (max-width: 992px) {
        padding: 0 20px;
    }
}