<footer class='footer'>
    <div class='container'>
        <div class='footer__pages'>
            <a href="" class="footer__page">001</a>
            <a href="" class="footer__page">040</a>
            <a href="" class="footer__page">042</a>
            <a href="" class="footer__page footer__page--active">200</a>
            <a href="" class="footer__page">202</a>
            <a href="" class="footer__page">203</a>
            <a href="" class="footer__page">204</a>
            <a href="" class="footer__page">207</a>
            <a href="" class="footer__page">210</a>
            <a href="" class="footer__page">211</a>
            <a href="" class="footer__page">212</a>
            <a href="" class="footer__page">231</a>
            <a href="" class="footer__page">232</a>
            <a href="" class="footer__page">400</a>
            <a href="" class="footer__page">404</a>
            <a href="" class="footer__page">410</a>
            <a href="" class="footer__page">Справочники</a>
            <a href="" class="footer__page">Проверка</a>
            <a href="" class="footer__page">Описание</a>
            <a href="" class="footer__page">Структура</a>
        </div>
    </div>
</footer>