<footer class='footer'>
    <div class='container'>
        <div class='footer__pages'>
            <a href="001.html" class="footer__page @@if(active === '001') {footer__page--active}">001</a>
            <a href="040.html" class="footer__page @@if(active === '040') {footer__page--active}">040</a>
            <a href="042.html" class="footer__page @@if(active === '042') {footer__page--active}">042</a>
            <a href="200.html" class="footer__page @@if(active === '200') {footer__page--active}">200</a>
            <a href="202.html" class="footer__page @@if(active === '202') {footer__page--active}">202</a>
            <a href="203.html" class="footer__page @@if(active === '203') {footer__page--active}">203</a>
            <a href="204.html" class="footer__page @@if(active === '204') {footer__page--active}">204</a>
            <a href="207.html" class="footer__page @@if(active === '207') {footer__page--active}">207</a>
            <a href="209.html" class="footer__page @@if(active === '209') {footer__page--active}">209</a>
            <a href="210.html" class="footer__page @@if(active === '210') {footer__page--active}">210</a>
            <a href="211.html" class="footer__page @@if(active === '211') {footer__page--active}">211</a>
            <a href="212.html" class="footer__page @@if(active === '212') {footer__page--active}">212</a>
            <a href="231.html" class="footer__page @@if(active === '231') {footer__page--active}">231</a>
            <a href="232.html" class="footer__page @@if(active === '232') {footer__page--active}">232</a>
            <a href="400.html" class="footer__page @@if(active === '400') {footer__page--active}">400</a>
            <a href="404.html" class="footer__page @@if(active === '404') {footer__page--active}">404</a>
            <a href="410.html" class="footer__page @@if(active === '410') {footer__page--active}">410</a>
            <a href="guide.html" class="footer__page @@if(active === 'Справочники') {footer__page--active}">Справочники</a>
            <a href="checking.html" class="footer__page @@if(active === 'Проверка') {footer__page--active}">Проверка</a>
            <a href="desc.html" class="footer__page @@if(active === 'Описание') {footer__page--active}">Описание</a>
            <a href="structure.html" class="footer__page @@if(active === 'Структура') {footer__page--active}">Структура</a>
        </div>
    </div>
</footer>